language: python
python:
  - 3.6
before_install:
  - export BOTO_CONFIG=/dev/null
  - export AWS_SECRET_ACCESS_KEY=foobar_secret
  - export AWS_ACCESS_KEY_ID=foobar_key
  - export PGPORT=5433
install:
  - pip install coverage
  - pip install -r requirements.txt
services:
  - postgresql
before_script:
  - psql -c 'create database imaging_test;' -U postgres
  - psql -c "CREATE USER username WITH PASSWORD 'password';" -U postgres
script:
  - nosetests -v --with-coverage --cover-package=imaging_db/
notifications:
  email:
    recipients:
      - jenny.folkesson@czbiohub.org
    on_success: never # default: change
    on_failure: always # default: always