language: python
python:
  - 3.6
sudo: true
services:
  - postgresql
addons:
  postgresql: '10'
  apt:
    packages:
      - postgresql-10-postgis-2.4
      - postgresql-10-postgis-2.4-scripts
      - postgresql-client-10
env:
  global:
  - PGPORT=5433
  - PGDATABASE=imaging_test
  - PGUSER=username
  - PGPASSWORD='password'
  - PGHOST=localhost
before_install:
  - export BOTO_CONFIG=/dev/null
  - export AWS_SECRET_ACCESS_KEY=foobar_secret
  - export AWS_ACCESS_KEY_ID=foobar_key
install:
  - pip install coverage
  - pip install -r requirements.txt
before_script:
  - sudo -u postgres psql -c 'createdb imaging_test;' -U postgres
  - sudo -u postgres psql -c "CREATE USER username WITH PASSWORD 'password'"
  - sudo -u postgres psql -c "ALTER ROLE username SUPERUSER"
script:
  - nosetests -v --with-coverage --cover-package=imaging_db/
notifications:
  email:
    recipients:
      - jenny.folkesson@czbiohub.org
    on_success: never # default: change
    on_failure: always # default: always